$primary: #c7c7c7;
$primary-light: lighten($primary, 10%);
$primary-dark: darken($primary, 5%);

$accent: #33C3F0;
$accent-light: lighten($accent, 10%);
$accent-dark: darken($accent, 5%);

$font-base: #333;

$container-width: 80%;