button.button,
a.button,
input.button[type="submit"],
input.button[type="reset"],
input.button[type="button"] {
  display: inline-flex;
  color: $font__color;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid $button__border-color;
  cursor: pointer;
  box-sizing: border-box;
}

button.button:hover,
a.button:hover,
input.button[type="submit"]:hover,
input.button[type="reset"]:hover,
input.button[type="button"]:hover,
button.button:focus
a.button:focus,
input.button[type="submit"]:focus,
input.button[type="reset"]:focus,
input.button[type="button"]:focus {
  color: #333;
  border-color: $button__border-color--hover;
  outline: 0; 
}

// Accent
button.button.accent,
a.button.accent,
input.button.accent[type="submit"].accent,
input.button.accent[type="reset"].accent,
input.button.accent[type="button"].accent {
  color: #FFF;
  background-color: $button-accent__background;
  border-color: $button-accent__border-color; 
}

button.button.accent:hover,
a.button.accent:hover,
input.button.accent[type="submit"].accent:hover,
input.button.accent[type="reset"].accent:hover,
input.button.accent[type="button"].accent:hover,
button.button.accent:focus,
a.button.accent:focus,
input.button.accent[type="submit"].accent:focus,
input.button.accent[type="reset"].accent:focus,
input.button.accent[type="button"].accent:focus {
  color: #FFF;
  background-color: $button-accent__background--hover;
  border-color: $button-accent__border-color--hover;
}