// –– BUTTONS
// Primary
button.jb-button,button.jb-button__primary,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-flex;
  color: $jb-font-base;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid $jb-primary__light;
  cursor: pointer;
  box-sizing: border-box;
}

button.jb-button:hover,button.jb-button__primary,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button.jb-button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: $jb-primary__dark;
  outline: 0; 
}

// Accent
button.jb-button.jb-button__accent,
input[type="submit"].jb-button__accent,
input[type="reset"].jb-button__accent,
input[type="button"].jb-button__accent {
  color: #FFF;
  background-color: $jb-accent;
  border-color: $jb-accent; 
}

button.jb-button.jb-button__accent:hover,
input[type="submit"].jb-button__accent:hover,
input[type="reset"].jb-button__accent:hover,
input[type="button"].jb-button__accent:hover,
button.jb-button.jb-button__accent:focus,
input[type="submit"].jb-button__accent:focus,
input[type="reset"].jb-button__accent:focus,
input[type="button"].jb-button__accent:focus {
  color: #FFF;
  background-color: $jb-accent__dark;
  border-color: $jb-accent__dark;
}