ul.list { list-style: circle inside; }
ol.list { list-style: decimal inside; }
ol.list, ul.list {
    padding-left: 0;
    margin-top: 0;
}

ul.list ul, ul.list ol, ol.list ol, ol.list ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
}

li.list { margin-bottom: 1rem; }