table.table { 
	border-collapse: collapse;
	thead { border-bottom: 1px solid $table__border-color; }
	th {
		text-align: left;
		font-weight: 800;
	}
	th, td { padding: 10px 20px; }
	tr:nth-of-type(even) { background: $table__background; }
}
